# Yelp dataset

In [32]:
import pandas as pd
import os.path
import numpy as np
from tqdm import tqdm
import holidays

**User:**
- name
- friend list
**Tip:** Niente

**Review:**
- user id
- business id
- stars
- date

**Checkin:** Niente

**Business:**
- categories
- attributes

## Merge datasets

In [33]:
def merge_datasets():
    if os.path.exists('Datasets/yelp dataset/yelp_dataset_merged.csv'):
        print("merged dataset already exists, skipping merge...")
        return
    
    df = pd.read_json('Datasets/yelp dataset/yelp_academic_dataset_business.json', lines=True)
    df = df[['business_id', 'city', 'categories', 'attributes']]
    df = df[df.city == 'Toronto'] # keep only Toronto, the city with more rating
    df = df[df['categories'].str.contains('Restaurant.*')==True].reset_index(drop=True) # keep only restaurant

    chunk_list = []  # append each dataframe chunk here 
    for chunk in tqdm(pd.read_json('Datasets/yelp dataset/yelp_academic_dataset_review.json', lines=True, chunksize=500000)):
        chunk = chunk[['user_id', 'business_id', 'stars', 'date']]
        chunk = pd.merge(chunk, df, on='business_id') # merge business dataset and review dataset chunk
        chunk_list.append(chunk)
    df = pd.concat(chunk_list)
    df.to_csv('Datasets/yelp dataset/yelp_dataset_merged.csv', index = False) # save dataset to CSV file
    
merge_datasets()
df = pd.read_csv('Datasets/yelp dataset/yelp_dataset_merged.csv')

merged dataset already exists, skipping merge...

In [34]:
df = df.rename(columns={'user_id':'user', 'business_id':'item', 'stars':'rating'})
#df = df[(df.groupby('user')['user'].transform('size') > 10) & (df.groupby('item')['item'].transform('size') > 10)]
df = df[(df.groupby('user')['user'].transform('size') > 200)]
df['rating'] = df['rating'].apply(lambda x: 1 if x > 3 else 0) # make rating binary
df = df.drop(columns='city') # drop city column since we are using only Toronto
df = df.dropna() # drop any row with NaN values

#df = df.groupby('rating').apply(lambda x: x.sample(1000))
df = df.reset_index(drop=True)

print(f'row: {len(df)} \t user: {df.user.nunique()} \t item:{df.item.nunique()}')

# make user and items id start from 0
df.user = pd.factorize(df.user)[0]
df.item = pd.factorize(df.item)[0]


print(f' rating: {df.rating.value_counts()}')

row: 18254 	 user: 59 	 item:5134
 rating: 1    9682
0    8572
Name: rating, dtype: int64

## Context features

In [35]:
def season_from_date(date):
    seasons = np.arange(12)
    seasons = seasons.reshape(4, 3) # reshape to a 2D matrix
    i, j = np.where(seasons == date.month - 1) # get row where month appears
    return i[0] + 1 # 1 = winter, 2 = spring, 3 = summer, 4 = autumn

def holiday_from_date(date):
    us_holidays = holidays.Canada()
    return date in us_holidays

In [36]:
df['date'] = pd.to_datetime(df['date']) # convert from string to datetime
df['season'] = df['date'].map(season_from_date)
df['weekday'] = df['date'].dt.dayofweek # get day of the week from date (0 to 6)
df['weekend'] = (df['weekday'] == 6) | (df['weekday'] == 5) # if is weekend from week day
df['holiday'] = df['date'].map(holiday_from_date) # get holiday in Canada from date
df = df.drop(columns=['date']) 
context = 'season weekday weekend holiday'.split()

## Item Features

### Attributes

In [37]:
df["attributes"] = df["attributes"].apply(lambda x : dict(eval(x))) # convert to dict
df = df.join(pd.json_normalize(df.attributes)).drop('attributes', axis=1) # expand dictionaries to new columns

In [ ]:
"""
for c in df.columns:
    print('-'*10 + c + '-'*10)
    print(df[c].value_counts())
"""

In [38]:
attributes = 'Caters RestaurantsAttire RestaurantsPriceRange2 HasTV NoiseLevel RestaurantsDelivery RestaurantsReservations GoodForKids RestaurantsTakeOut Alcohol OutdoorSeating RestaurantsGoodForGroups GoodForMeal Ambience'.split()
df = df[['user', 'item', 'rating', 'categories'] + context + attributes]  # keep only some attributes
df = df.replace(to_replace='None', value=np.nan) # replace None strings with NaN
df = df.dropna() # Drop NaN value

In [40]:
for col in 'GoodForMeal Ambience'.split(): # some attributes need to be expanded again
    df[col] = df[col].apply(lambda x : dict(eval(x))) # convert to dict
    df = df.join(pd.json_normalize(df[col])).drop(col, axis=1) # expand dictionaries to new columns

In [41]:
df = df.replace(to_replace='None', value=False) # replace None with False
df = df.fillna(False) # replace NaN with False
df = df.dropna() # Drop NaN value
df

,user,item,rating,categories,season,weekday,weekend,holiday,Caters,RestaurantsAttire,...,breakfast,romantic,intimate,classy,hipster,divey,touristy,trendy,upscale,casual
0,0,0,1,"Pizza, Italian, Salad, Restaurants",4,1,False,False,True,u'casual',...,False,False,False,False,False,False,False,False,False,True
1,1,0,1,"Pizza, Italian, Salad, Restaurants",4,2,False,False,True,u'casual',...,False,False,False,False,False,False,False,False,False,True
2,2,0,1,"Pizza, Italian, Salad, Restaurants",3,5,True,False,True,u'casual',...,False,False,False,False,False,False,False,False,False,True
3,3,0,1,"Pizza, Italian, Salad, Restaurants",3,1,False,False,True,u'casual',...,False,False,False,False,False,False,False,False,False,True
4,4,0,1,"Pizza, Italian, Salad, Restaurants",3,4,False,False,True,u'casual',...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18242,38,5128,1,"Seafood, Japanese, Restaurants, Sushi Bars",3,1,False,False,False,u'casual',...,False,False,False,False,False,False,False,False,False,False
18247,58,5131,0,"Japanese, Korean, Restaurants, Sushi Bars",2,3,False,False,True,'casual',...,False,False,False,False,False,False,False,False,False,False
18249,38,4646,1,"Restaurants, Japanese, Asian Fusion",2,6,True,False,False,u'casual',...,False,False,False,False,False,False,False,False,False,False
18252,58,4871,1,"Food, Smokehouse, American (Traditional), Barb...",3,5,True,False,False,u'casual',...,False,False,False,False,False,False,False,False,False,False
18253,18,5133,1,"Restaurants, Chinese, Food Court, Comfort Food",4,0,False,False,True,'casual',...,False,False,False,False,False,False,False,False,False,False

## User features

In [42]:
def get_user_feature_by_rating(df, column):
    fav_values = np.zeros((df.user.nunique(), 2), dtype=object)
    for user in tqdm(df.user.unique()):
        # group by column unique values and sum ratings
        grouped = df[['user', column, 'rating']][df.user == user].groupby(['user', column]).sum().sort_values('rating')
        fav_val = grouped.tail(1).index.get_level_values(1).tolist()[0] # get value with highest rating sum
        fav_values[user,:] = [user, fav_val] # add to numpy array of (user, fav_val)
    return pd.DataFrame(fav_values, columns=['user', 'user_'+column]) # numpy to dataframe


df = pd.merge(df, get_user_feature_by_rating(df, 'RestaurantsPriceRange2'), on=['user'])
df = pd.merge(df, get_user_feature_by_rating(df, 'Alcohol'), on=['user'])
df = pd.merge(df, get_user_feature_by_rating(df, 'RestaurantsDelivery'), on=['user'])
df = pd.merge(df, get_user_feature_by_rating(df, 'RestaurantsReservations'), on=['user'])
df = pd.merge(df, get_user_feature_by_rating(df, 'GoodForKids'), on=['user'])
df = pd.merge(df, get_user_feature_by_rating(df, 'RestaurantsGoodForGroups'), on=['user'])
df = pd.merge(df, get_user_feature_by_rating(df, 'NoiseLevel'), on=['user'])
df = pd.merge(df, get_user_feature_by_rating(df, 'weekday'), on=['user'])

100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 246.37it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 205.64it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 225.65it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 200.75it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 179.84it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 217.66it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 202.91it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 59/59 [00:00<00:00, 225.13it/s]

In [43]:
attributes = df.columns[8:-8].to_list()
user_features = df.columns[-8:].to_list()
print(attributes)
print()
print(user_features)

['Caters', 'RestaurantsAttire', 'RestaurantsPriceRange2', 'HasTV', 'NoiseLevel', 'RestaurantsDelivery', 'RestaurantsReservations', 'GoodForKids', 'RestaurantsTakeOut', 'Alcohol', 'OutdoorSeating', 'RestaurantsGoodForGroups', 'dessert', 'latenight', 'lunch', 'dinner', 'brunch', 'breakfast', 'romantic', 'intimate', 'classy', 'hipster', 'divey', 'touristy', 'trendy', 'upscale', 'casual']

['user_RestaurantsPriceRange2', 'user_Alcohol', 'user_RestaurantsDelivery', 'user_RestaurantsReservations', 'user_GoodForKids', 'user_RestaurantsGoodForGroups', 'user_NoiseLevel', 'user_weekday']

## Encoding

In [44]:
# encode only context and attributes to preserve columns ordering
df = pd.get_dummies(df, columns=context+attributes)

In [45]:
# add categories
df_categories = pd.Series(df['categories']).str.get_dummies(',')
df = pd.concat([df, df_categories], axis=1)
df = df.dropna()
df = df.drop(columns=['categories'])

In [46]:
# at the end one-hot encode user features
df = pd.get_dummies(df, columns=user_features)

## Save dataset

In [47]:
df = df.reset_index(drop=True)
df.user = pd.factorize(df.user)[0]
df.item = pd.factorize(df.item)[0]
df.to_csv('Datasets/yelp dataset/yelp_final.csv', index = False) 
df = df.drop_duplicates(subset=['user', 'item']) # drop duplicates for matrix factorization
df = df[['user', 'item', 'rating']]
df = df.reset_index(drop=True)
df.to_csv('Datasets/yelp dataset/yelp_matrix_factorization.csv', index = False)